/* -- // Core -- */
body {
    background-color: black;
    /* margin: 0; Reminder for future self: set margin to 0 if you're crashing out abt it */
    margin-left: 2%;
    margin-right: 2%;
}

/* -- // Custom -- */
/* -- Sitewide Main */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: grey;
}

/* -- Sitewide (Wrap) */