/* -- // Core -- */
body {
    background-color: black;
    margin: 0; /* Reminder for future self: set margin to 0 if you're crashing out abt it */
    /* margin-left: 1.2%; */
    /* margin-right: 1.2%; */
    font-family: 'Poppins', 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/* -- // Custom -- */
/* -- Sitewide Main */
.container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: white;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(105, 129, 161);
}

.wrap {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: rgba(132, 192, 212, 0);
}

/* -- Sitewide (Wrap-loader) */
.wrap-loader {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: rgba(0,0,0,1);
    visibility: hidden; /*DEV: TEMP */
}

.loading-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-image { 
    width: 80px;
    height: auto;
    z-index: 100;
}

.loading-circle {
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: rgba(0,0,0,0);
    border: 2px solid rgba(201, 201, 201, 0.542);
    box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.3);
    background: radial-gradient(circle, #000000, rgba(150, 150, 150, 0.535));
    border-radius: 100em;
    z-index: 90;
}

/* -- Sitewide (Wrap) */
/* Header */
.sitewide-header {    
    position: fixed;
    left: 0%;
    margin-left: 0%;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 100;
    padding-left: 0em;
}

.header-bar {
    position: absolute;
    top: 0px;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: black;
    margin-top: 1em;
    padding-left: 3.2em;
    padding-right: 1em;
    border-radius: 25px;
    margin-left: -2.2em;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.header-icon {
    height: 80%;
    width: fit-content;
}

.header-icon-img {
    height: 100%;
    width: auto;
}

.header-title {
    color: white;
    margin-left: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
    user-select: none; 
    cursor: default;
}

/* Navigation */
.sitewide-navigation {
    position: fixed;
    left: 0.8em;
    width: auto;
    height: 100%;
    background-color: rgba(169, 169, 169, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.nav-island {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    border-radius: 100px;
    margin: 0.3em;
    padding-left: 0.45em;
    padding-right: 0.45em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
}

.nav-option {
    color: white;
    background-color: rgba(54, 54, 54, 0.363);
    border-radius: 100px;
    padding: 0.8em;
    width: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-opt-selected {
    color: white;
    background-color: rgba(97, 97, 97, 0.486);
    border-radius: 100px;
    padding: 0.8em;
}


/* Bottom Fade */
.sitewide-bottom-fade {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Adjust this to change how tall the fade is */
  
  /* The Fade Effect */
  /* Change 'white' to match your background color */
  background: 
  linear-gradient(to top, rgba(0, 0, 0, 0.822) -40%, rgba(255, 255, 255, 0) 33%),
  linear-gradient(to bottom, rgba(0, 0, 0, 0.822) -25%, rgba(255, 255, 255, 0) 10%);
  
  /* Functional Details */
  z-index: 9999; /* Keeps it on top of all other elements */
  pointer-events: none; /* Crucial: allows you to click buttons/links "behind" the fade */
}

/* Footer */ 
.sitewide-footer {
    position: absolute;
    width: 100%;
    /* background-color: rgba(169, 169, 169, 0); */
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 100;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 3em;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.822) 30%, rgba(255, 255, 255, 0) 400%); */
    bottom: 0;
    padding-top: 2em;
}

.footer-bar {
    position: relative;
    top: 0px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: left;
    flex-direction: column;
    gap: 0.2em;
    background-color: black;
    margin-top: 1em;
    padding-left: 3.67em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 25px;
    margin-left: -2.2em;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

#footer-text {
    color: white;
    text-align: left;
    font-size: small;
    width: auto;
    margin: 0;
    user-select: none; 
    cursor: default;
}

#footer-last-updated {
    color: white;
    text-align: left;
    font-size: x-small;
    width: auto;
    margin: 0;
    font-weight: 400;
    user-select: none; 
    cursor: default;
    text-decoration: none;
}

/* -- // Content -- */
.inner-wrap {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* margin-left: 3.3em; */
    background-color: rgb(105, 129, 161);
}

.inner-wrap-content {
    scroll-snap-type: y mandatory;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
}

/* Cover Section */
.cover-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(132, 192, 212, 0);
    display: flex;
    flex-direction: row;
    margin-left: 3.2em;
    scroll-snap-align: start;
}

.cover-name-area {
    margin-left: 10em;
    position: relative;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cover-name {
    background-color: rgb(34, 34, 34);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.774) 40%, rgba(255, 255, 255, 0) 90%);
    padding: 3em;
    border-radius: 20px;
    position: absolute;
    right: -65vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 65%;
    /*margin-right: -30em;*/
    padding-right: 67vw; 
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.5);
}

#cover-name-text {
    color: white;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: -6em;
    width: 80%;
    margin-top: -2em;
}

#cover-name-1 {
    font-size: 3.7em;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

#cover-name-2 {
    font-size:5.9em;
    margin-top: -0.35em;
    margin-bottom: 0em;
    padding: 0;
    padding-left: 0.1em;
    font-weight: 300;
}

#cover-tag-text {
    color: white;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: -6em;
    width: 80%;
}

#cover-tagline {
    font-size: 1.67em;
    margin: 0;
    padding-left: 0.2em;
    font-weight: 300;
}

.cover-photo-area {
    position: relative;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-photo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-right: 5em;
    backdrop-filter: blur(1px);
    mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,   /* Fully opaque (full blur) at the top */
    rgba(0, 0, 0, 1) 75%,  /* Full blur for the first 50% */
    rgba(0, 0, 0, 0) 100%  /* Fully transparent (no blur) at the bottom */
  );
}

#cover-photo-img {
    align-self: bottom;
    width: auto;
    height: 92%;
    border-radius: 15px;
    z-index: 50;
}

/* Quote Section */
.quote-section {
    position: relative;
    width: 100%;
    height: 120vh;
    background-color: rgba(132, 192, 212, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

#quote-background {
    width: auto;
    height: 100%;
    filter: blur(6px);
}

#quote-bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: 
        linear-gradient(to bottom, rgba(105, 129, 161, 0.95), rgba(0, 0, 0, 0) 10%), 
        linear-gradient(to top, rgba(0, 0, 0, 0.942), rgba(0, 0, 0, 0) 5%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote-content {
    position: relative;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 25px 21em rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    gap: 1.3em;
}

#quote-text {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
}

#quote-author {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
}

/* Glance Section */
.glance-section {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.942);
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.942) 0%, rgba(0, 0, 0, 0.89) 100%);
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    padding-top: 2em;
    padding-bottom: 5em;
    padding-left: 3em;
    margin-right: 3em;
    color: white;
}

#glance-bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: 
        linear-gradient(to top, rgba(105, 129, 161, 0.95), rgba(0, 0, 0, 0) 10%);
        /*linear-gradient(to top, rgba(0, 0, 0, 0.942), rgba(0, 0, 0, 0) 5%);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.glance-area {
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#glance-title {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
}

#glance-title-1 {
    font-size: 1.8em;
    font-weight: 600;
    margin: 0;
}

#glance-title-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: -0.5em;
}

#glance-title-2 {
    font-size: 2em;
    margin: 0;
    font-weight: 300;
}

#glance-title-3 {
    font-size: 2.5em;
    margin: 0;
    font-weight: 400;
    font-style: italic;
}

#glance-content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#glance-content-boxes {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 2em;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.glance-content-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    width: 19%;
    min-height: 14em;
    box-shadow: 0px 0px 10px 3px rgba(125, 125, 125, 0.5);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.glance-content-box-icon {
    width: auto;
    height: auto;
    margin-bottom: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glance-content-box-text {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.4em;
    margin-top: 0.8em;
    margin-bottom: 0em;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

.glance-content-box-subtext {
    margin-top: 0.4em;
    margin-bottom: 0em;
    font-weight: 300;
    font-size: 0.85em;
    text-align: center;
}

.subtext2 {
    margin-top: 0.1em;
}

.subtext1 {
    margin-bottom: 0.4em;
}

.subtext3 {
    font-weight: 400;
    margin-bottom: 0.18em;
}