/* -- // Core -- */
body {
    background-color: black;
    margin: 0; /* Reminder for future self: set margin to 0 if you're crashing out abt it */
    margin-left: 1.2%;
    margin-right: 1.2%;
}

/* -- // Custom -- */
/* -- Sitewide Main */
.container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: white;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
}

.wrap {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: grey;
}

/* -- Sitewide (Wrap) */
/* Header */
.sitewide-header {    
    position: fixed;
    margin-left: 0%;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 100;
    padding-left: 0.4em;
}

.header-bar {
    position: relative;
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: black;
    margin-top: 1em;
    margin-left: -3.2em;
    padding-right: 0.6em;
    border-radius: 25px;
}

.header-icon {
    height: 80%;
    width: fit-content;
}

.header-icon-img {
    height: 100%;
    width: auto;
}

.header-title {
    color: white;
    margin-left: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
}

/* Navigation */
.sitewide-navigation {
    position: fixed;
    width: 5%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.nav-island {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    border-radius: 100px;
    margin: 0.3em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.nav-option {
    color: white;
    background-color: rgba(54, 54, 54, 0.363);
    border-radius: 100px;
    padding: 0.8em;
}

.nav-opt-selected {
    color: white;
    background-color: rgba(97, 97, 97, 0.486);
    border-radius: 100px;
    padding: 0.8em;
}

/* -- // Content -- */
.inner-wrap {
    position: relative;
    width: 100%;
    height: 110vh;
    margin: 0 auto;
    background-color: lightgrey;
}